<div class="container">
  <h4 class="m-4"><span style="background-color:#eeeeee">会員一覧</span></h4>
</div>

  <div class="container">
    <div class="row">
     <div class="col-11">
      <table class="table">
        <thead class=" thead-light ">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= link_to admin_user_path(user), class: "btn-link"  do %>
                <%= user.nickname %>
                <% end %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <% if user.is_deleted == false %>
                  <p class="text-success font-weight-bold">有効</p>
                <% else %>
                  <p class='text-secondary font-weight-bold'>退会済</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
　   </div>
　  </div>
　</div>
